@model Course

<div class="p-3">
    <div>
        @Model.CourseCode&#44; @Model.CourseName&#44; Credit&#35;@Model.Credit has been added.
    </div>
    <a class="btn btn-secondary" asp-action="Index">
        Return to homepage
    </a>
</div>