@model String

<div class="p-3">
    <div class="text-danger font-weight-bold">
        @Model
    </div>
    <a class="btn btn-secondary" asp-action="Index">
        Return to homepage
    </a>
</div>